In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
dataset = pd.read_csv('D:\\Study\\Downloads\\DataScience-Assignments\\50_Startups.csv')

In [18]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [20]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [21]:
labelencoder = LabelEncoder()

In [22]:
X[:,3]

array(['New York', 'California', 'Florida', 'New York', 'Florida',
       'New York', 'California', 'Florida', 'New York', 'California',
       'Florida', 'California', 'Florida', 'California', 'Florida',
       'New York', 'California', 'New York', 'Florida', 'New York',
       'California', 'New York', 'Florida', 'Florida', 'New York',
       'California', 'Florida', 'New York', 'Florida', 'New York',
       'Florida', 'New York', 'California', 'Florida', 'California',
       'New York', 'Florida', 'California', 'New York', 'California',
       'California', 'Florida', 'California', 'New York', 'California',
       'New York', 'Florida', 'California', 'New York', 'California'],
      dtype=object)

In [23]:
X[:, 3] = labelencoder.fit_transform(X[:, 3])

In [24]:
X = X[:, 1:]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
regressor = LinearRegression()

In [29]:
regressor.fit(X_train, y_train)

LinearRegression()

In [30]:
y_pred = regressor.predict(X_test)

In [31]:
y_pred

array([115136.08887729, 102537.95913468, 110605.59392043,  84373.64468226,
       148650.14534617, 152045.80536897,  86196.35348043, 100267.41418788,
       133239.536917  , 134673.62287961])

In [32]:
regressor.score(X_train,y_train)

0.6479579561872042

In [33]:
regressor.score(X_test,y_test)

0.31616256771983486